doctype html
html(lang='en')
  head
    title jeremyasuncion.io
    meta(charset='utf-8')
    meta(name='theme-color' content='#6200ee')
    meta(
      name='viewport'
      content='initial-scale=1, minimum-scale=1,shrink-to-fit=no,width=device-width'
    )
    meta(
      name='description'
      content='home page of the homie'
    )
  body
    noscript You need JavaScript to view this Page
    main
